doctype html
html
  head.
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/eventFactory.js"></script>
    <script src="js/controllers/eventController.js"></script>
  body
    div#nav
      include nav_bar.jade
    div.container.
      <div ng-app="appEvents">
        <div>
          <h2 class="center">Add Event</h2>
          <div ng-controller="EventsController">
            <form action="/">
              <div class="form-group input-group">
                <label class="control-label required">Event Name</label>
                <input class="form-control" type="text" ng-model="newEvent.name" required/>
              </div>
              <div class='form-group input-group'>
                <label class="control-label required">Date/Time</label>
                <input type='datetime-local' class="form-control" ng-model="newEvent.time" required/>
              </div>
              <div class="form-group input-group">
                <label class="control-label required">Address</label>
                <input class="form-control" type="text" ng-model="newEvent.address" required/>
              </div>
              <div class="form-group input-group">
                <label class="control-label">Building</label>
                <input class="form-control" type="text" ng-model="newEvent.building" />
              </div>
              <div class="form-group input-group">
                <label class="control-label">Room</label>
                <input class="form-control" type="text" ng-model="newEvent.room" />
              </div>
              <div class="form-group input-group">
                <label class="control-label">Host</label>
                <input class="form-control" type="text" ng-model="newEvent.host" />
              </div>
              <div class="form-group input-group">
                <label class="control-label">Dietary Preferences</label>
                <input class="form-control" type="text" ng-model="newEvent.dietary_prefs" />
              </div>
              <p>* required</p>
                <button class="btn btn-primary" ng-click="addEvent('#{name}')">Add Event</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
