nav.navbar.navbar-inverse
  div.container-fluid
    div.navbar-header
      a.navbar-brand(href="/") FooDaddy
    ul.nav.navbar-nav.navbar-right
      if name
        p.navbar-text Hello, #{name}!
        li #[a(href="/logout") #[span.glyphicon.glyphicon-log-out] Logout]
      else
        li #[a(href="/register") #[span.glyphicon.glyphicon-user] Register]
        li #[a(href="/login") #[span.glyphicon.glyphicon-log-in] Login]
