head.
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/eventFactory.js"></script>
    <script src="js/controllers/eventController.js"></script>
    <script src="js/factories/userFactory.js"></script>
    <script src="js/controllers/userController.js"></script>
    <script src="angular.js"></script>
body
    div#nav
      include nav_bar.jade
    div(ng-app="appEvents")
        .container(ng-controller='EventsController')
            .row
                .col-md-12
                    h2(class="text-center") Your Events
                    .tableWrapper             
                        table.table.table-striped.table-hover
                            tr
                                th Event                
                                th Host                 
                                th Address
                                th Remove            
                            tr(ng-repeat="event in events | filter: '" + name + "' | orderBy: ['name', 'address'] ")
                                td {{event.name}}                  
                                td {{event.host}}                  
                                td {{event.address}}                                
                                td(ng-click='deleteEvent(event._id)')
                                    span.glyphicon.glyphicon-remove(style='color: red;')
    div#app-Users
        .container(ng-controller='UsersController')
            .row
                .col-md-12
                    h2(class="text-center") Your Profile
                    .tableWrapper             
                        table.table.table-striped.table-hover                
                            button.btn.btn-danger(ng-click="deleteUser('#{name}')") Delete Your Account
    script.
        angular.bootstrap(document.getElementById("app-Users"), ['appUsers']);